.tbl {
  box-shadow: 10px 6px 6px #ddd;
  border: 1px solid #ddd;
}
.tbl thead {
  background: #7197fe;
  color: #fff;
  font-size: 16px;
}
.tbl tbody {
  font-size: 14px;
  color: #555;
}
.tbl tbody a {
  color: #7197fe;
  padding: 0px 10px;
}
.frm {
  box-shadow: 10px 6px 6px #ddd;
  border: 1px solid #ddd;
  padding: 50px;
}
.frm label {
  font-size: 16px;
  font-weight: 600;
  color: #7197fe;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.frm input {
  border: 1px solid #ddd !important;
  background: #fcfcfc !important;
  font-size: 14px !important;
  padding: 15px !important;
}
.frm input:focus {
  box-shadow: none !important;
}
.frm div {
  margin: 40px 0px;
}
.frm h2 {
  font-size: 23px;
  font-weight: 600;
  color: #7197fe;
  text-transform: capitalize;
}
.frm button {
  background: #7196fe;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #7196fe;
  padding: 10px 20px;
  font-weight: 600;
}
.frm button:hover {
  background: #fff;
  color: #7196fe;
}
